<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>COVID-19 in US</title>
		<script src="../static/js/jquery-1.11.1.min.js"></script>
        <script src="../static/js/echarts.min.js"></script>
        <script src="../static/js/USA.js"></script>
        <script src="../static/js/echarts-wordcloud.min.js"></script>
		<link href="../static/css/main.css" rel="stylesheet"/>
        <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
		<style>
		
		</style>
	</head>
	<body>
		<div id="title">COVID-19 in US</div>
		<div id="time"></div>
        <div id="myname">by-ZQM</div>
		<div id="l1"></div>
		<div id="l2"></div>
		<div id="c1">
			<div class="num"><h1></h1></div>
			<div class="num"><h1></h1></div>
			<div class="num"><h1></h1></div>
            <div class="num"><h1></h1></div>
			<div class="txt"><h2>Cases</h2></div>
			<div class="txt"><h2>Recovered</h2></div>
			<div class="txt"><h2>Deaths</h2></div>
            <div class="txt"><h2>Fatality</h2></div>
		</div>
		<div id="c2">center2</div>
		<div id="r1">right1</div>
		<div id="r2"></div>

        <script src="../static/js/ec_center.js"></script>
        <script src="../static/js/ec_left1.js"></script>
        <script src="../static/js/ec_left2.js"></script>
        <script src="../static/js/ec_right1.js"></script>

        <script src="../static/js/ec_right2.js"></script>
        <script src="../static/js/functions.js"></script>
	</body>
</html>
